/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #f61e32;
  --success-color: #0cc38e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
    height: 100%;
    font-family: "Segoe UI";
}
body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: "Segoe UI";
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #fff;
    position: fixed;
    height: 60px!important;
    border-bottom: 1px solid #333;
    overflow: hidden;
    z-index: 10;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}

.sidebarMenuInner li{
    list-style: none;
    color: black;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: 10px;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

input[type=checkbox]:checked ~ .sidebarIconToggle {
  top: 20px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: black;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
    /* height: 2px; */
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
    /* height: 2px; */
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

.logo{
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  left: 25px;
  padding: 12px;
  left: 30px;
  font-size: 24px;
  font-weight: 900;
}

.floatingLabelInput {
  
    display: flex;
    position: relative;
    flex-direction: column;
    width: 300px;
    margin-top: 45px;
    }
    
      

    .alert {
      border-radius: 5px;
      transition: all 0.3s;
      opacity: 1;
      box-sizing: border-box;
      position: absolute;
      z-index: 99;
      top: 10px;
      left: auto;
      display: flex;
      align-items: center;
      font-size: 15px;
      font-weight: 700;
      height: 50px;
      padding: 0 20px;
      }

      @media (max-width: 400px) {
        .alert {
          font-size: 12px;
        }
    }
      
      .btn_aler {
        border: none;
        width: 30px;
        display: flex;
        height: 30px;
        align-items: center;
        justify-content: center;
        background: #f7f7f9;
        border-radius: 50%;
        display: flex;
        margin: 2px 10px 0 0;
        font-size: 20px;
        CURSOR: POINTER;
        font-weight: 700;
      }
      
    


      .btn-danger,
      .bg-danger,
      .badge-danger,
      .alert-danger {
        background: var(--danger-color);
        color: #fff;
      }
      
      .btn-success,
      .bg-success,
      .badge-success,
      .alert-success {
        background: var(--success-color);
        color: #fff;
      }


      html, body {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    /* define a fixed width for the entire menu */
    .navigation {
      width: 300px;
    }
    
    /* reset our lists to remove bullet points and padding */
    .submenu {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    /* make ALL links (main and submenu) have padding and background color */
  
      .mainmenu a {
        text-decoration: none;
        color: black;
        /* width: 100%; */
        float: left;
        text-align: left;
        width: 100%;
        padding: 10px;
        font-size: 13px;
    }
    
    
    /* add hover behaviour */
    .mainmenu a:hover {
        color: #F68B1E;
    }
    .mainmenu li:hover .hov {
      fill: #F68B1E;
    }
    .hov1{
      opacity: 0;
    }
    .mainmenu li:hover .hov {
      fill: #F68B1E;
      opacity: 0;
    }
    .mainmenu li:hover .hov1 {
      fill: #F68B1E;
      opacity: 1;
    }
    
    .mainmenu li:hover .submenu {
      display: block;
      max-height: 200px;
    }
    
    .submenu a:hover {
      background-color: #f4f4f4;
    }
    
    
    .submenu {
      overflow: hidden;
      max-height: 0;
      -webkit-transition: all 0.5s ease-out;
      position: fixed;
      background-color: #fff;
      margin-top: 22px;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);

    }
    li{
      list-style-type: none;
    }
    #devicePhone{
      display: none;
   }
@media(max-width: 500px) {
  #devicePhone{
     display: initial;
  }
  .mainmenu{
    display: none;
  }
}

#Deconnexion{
  border-top: 3px solid #f4f4f4;
  color: #F68B1E;
  text-transform: uppercase;
}

/***************** END SIDEMENU HEADER AND NAVIGATION BAR ********************/

/* Build carousel style  */



.makeStyles-root-1{
  flex-grow: 1;
  max-width: 100%;
}

@media(max-width: 700px) {
  #tst{
    height: 300px;
  }}
  @media(max-width: 700px) {
    #tst{
      height: 200px;
    }}


