/* Global Styles */
:root {
    --primary-color: #17a2b8;
    --dark-color: #343a40;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Varela+Round');
  html, body {
      overflow-x: hidden;
      height: 100%;
  }
  body {
      background: #fff;
      padding: 0;
      margin: 0;
      font-family: 'Varela Round', sans-serif;
  }
  .header {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 100%;
      box-shadow: none;
      background-color: #fff;
      position: fixed;
      height: 60px!important;
      border-bottom: 1px solid #333;
      overflow: hidden;
      z-index: 10;
      top: 0;
  }
  .main {
      margin: 0 auto;
      display: block;
      height: 100%;
      margin-top: 60px;
  }
  .mainInner{
      display: table;
      height: 100%;
      width: 100%;
      text-align: center;
  }
  .mainInner div{
      display:table-cell;
      vertical-align: middle;
      font-size: 3em;
      font-weight: bold;
      letter-spacing: 1.25px;
  }
  #sidebarMenu {
      height: 100%;
      position: fixed;
      left: 0;
      width: 250px;
      margin-top: 60px;
      transform: translateX(-250px);
      transition: transform 250ms ease-in-out;
      /* background: linear-gradient(180deg, #f4f4f4 0%, #fff 100%); */
      background: #fff;
      /* border-right: 1px solid #dc3545; */
  }
  .sidebarMenuInner{
      margin:0;
      padding:0;
      border-bottom: 1px solid #33333329;
  }
  .sidebarMenuInner li{
      list-style: none;
      color: black;
      font-weight: bold;
      padding: 15px;
      cursor: pointer;
      border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  }
  .sidebarMenuInner li span{
      display: block;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.50);
  }
  .sidebarMenuInner li a{
      color: black;
      cursor: pointer;
      text-decoration: none;
      font-size: 10px;
  }
  input[type="checkbox"]:checked ~ #sidebarMenu {
      transform: translateX(0);
  }
  
  input[type=checkbox] {
      transition: all 0.3s;
      box-sizing: border-box;
      display: none;
  }
  .sidebarIconToggle {
      transition: all 0.3s;
      box-sizing: border-box;
      cursor: pointer;
      position: absolute;
      z-index: 99;
      height: 100%;
      width: 100%;
      top: 22px;
      left: 15px;
      height: 22px;
      width: 22px;
  }
  
  input[type=checkbox]:checked ~ .sidebarIconToggle {
    top: 20px;
  }
  .spinner {
      transition: all 0.3s;
      box-sizing: border-box;
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: black;
  }
  .horizontal {
      transition: all 0.3s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 3px;
  }
  .diagonal.part-1 {
      position: relative;
      transition: all 0.3s;
      box-sizing: border-box;
      float: left;
      /* height: 2px; */
  }
  .diagonal.part-2 {
      transition: all 0.3s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 3px;
      /* height: 2px; */
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
      transition: all 0.3s;
      box-sizing: border-box;
      opacity: 0;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(135deg);
      margin-top: 8px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(-135deg);
      margin-top: -9px;
  }
  
  .logo{
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    left: 25px;
    padding: 12px;
    left: 30px;
    font-size: 24px;
  }
  

  

  
  
  
  
  

  